<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Изменение книги</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="edit-form" th:action="@{/editBook(id=${book.id})}" th:method="post" action="editBook.html">
    <h1>Данные книги:</h1>

    <a th:href="@{/}" href="/">Назад</a>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="title">Название:</label>
        <input id="title" name="title" type="text" th:value="${book.title}" value="Название"/>
    </div>

    <div class="row">
        <label for="author">Автор:</label>
        <select id="author" name="author" onchange="authorChange()">
            <option value="0">Новый</option>
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}" th:selected="${author.id == choosedAuthorId}"></option>
        </select>
        <input id="newAuthorName" name="newAuthorName" type="text" hidden/>
    </div>

    <div class="row">
        <label for="genre">Жанр:</label>
        <select id="genre" name="genre" onchange="genreChange()">
            <option value="0">Новый</option>
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}" th:selected="${genre.id == choosedGenreId}"></option>
        </select>
        <input id="newGenreName" name="newGenreName" type="text" hidden/>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>

<script type="text/javascript">
    function authorChange() {
        document.getElementById("newAuthorName").hidden = document.getElementById('author').value!="0";
    };
    function genreChange() {
        document.getElementById("newGenreName").hidden = document.getElementById('genre').value!="0";
    };
</script>

</html>
