<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <util:constant id = "out" static-field="java.lang.System.out"/>

    <bean id="resourceLoader" class="ru.otus.homework.utils.ResourceLoader">
    </bean>

    <bean id="questionDao" class="ru.otus.homework.dao.QuestionDaoImpl">
        <constructor-arg name="resourceLoader" ref="resourceLoader"/>
        <constructor-arg name="resourcePath" value="questions.csv"></constructor-arg>
    </bean>

    <bean id="outputConsoleService" class="ru.otus.homework.service.OutputConsoleService">
        <constructor-arg name="outputStream" ref="out" />
    </bean>

    <bean id="questionService" class="ru.otus.homework.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDao"/>
        <constructor-arg name="outputConsoleService" ref="outputConsoleService"/>
    </bean>

</beans>
